name: Linting

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install black flake8 isort mypy
        pip install -e .

    - name: Run black
      run: black --check autoperfpy tests
      continue-on-error: true

    - name: Run flake8
      run: flake8 autoperfpy tests --max-line-length=120 --ignore=E501,W503
      continue-on-error: true

    - name: Run isort
      run: isort --check-only autoperfpy tests
      continue-on-error: true

    - name: Run mypy
      run: mypy autoperfpy --ignore-missing-imports
      continue-on-error: true
